@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$primary: #f4656d;
$secondary: #008eb3;
$default: #a7e5e0;

$white: #fffbd5;
$blue: #aae0fa;
$black: #000000;
$red: #f9aa8f;
$green: #9bd3ae;

$font-family: 'Open Sans', sans-serif;
